html
    body
        h1 #{appName}
        h2 Add User
        form(action="/adduser" method='post')
            label Username: 
            input(type='text' name='user')
            label Password: 
            input(type='password' name='pwd')
            input(type='submit')
