html
    body
        h1 #{appName}
        h2 Login
        form(action="/login" method='post')
            label Username: 
            input(type='text' name='user')
            label Password: 
            input(type='password' name='pwd')
            input(type='submit' value="Login")
